html,
body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  flex-grow: 1;
  display: block;
}

.dark {
  background-color: #212529;
  color: #fff;
}

.footer {
  text-align: center;
  width: 100%;
  padding: 1rem;
  flex-shrink: 0;
}

.white {
  background-color: #fff;
  color: #000;
}


.custom-pointer {
  cursor: pointer;
  color: green;
}


.custom-img {
  display: flex;
  align-items: center;
}

.comment-list p {
  margin-top: 15px;
  padding-left: 15px;
}

.Content {
  color: #fff;
  max-width: 1000px;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
}

.navbarButton {
  display: flex;
  width: 100%;
  justify-content: end;
}


.navbarButton {
  width: 100%;
  justify-content: end;
}

.filled-greater-than {
  width: 36px;
  height: 36px;
  fill: orangered;
}


.navbar-row-response {
  display: flex;
  align-items: center;
}


.custom-img {
  max-width: 100%;
  height: auto;
  /* Fotoğrafın yüksekliği orantılı olarak ayarlanır */
  object-fit: cover;
  border-right: solid 2px #212529;
  /* Fotoğrafın içerik oranını bozmadan kesilmesini sağlar */
}

.comment {
  max-width: 50%;
  margin-bottom: 10px;
}


#floatingTextarea2 {
  display: flex;
  width: 50%;
}

@media screen and(max-width:576px) {

  .comment,
  .customCard {
    justify-content: center;
    width: 100%;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media only screen and (max-width: 576px) {

  .navbar-row-response,
  .nabvar-response,
  .navbarButton,
  .custom-img,
  .profileAd {
    justify-content: center;
    text-align: center;
    border: none;
    margin-top: 10px;
  }

  p {
    padding: 0 5px 0 5px;
  }

  .comment {
    max-width: 100%;
    justify-content: center;
  }

  #floatingTextarea2 {
    width: 100%;
  }

  .switch {
    display: none;
  }

}